version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: gamers-app
    env_file:
      - ../env/.env
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - gamers-network
    restart: unless-stopped

volumes:
  mysql_data:
    driver: local

networks:
  gamers-network:
    driver: bridge